@model IEnumerable<Models.TourPackage>

@{
    ViewBag.Title = "فهرست ";

    Layout = "~/Views/Shared/BackEndLayout/_BackEndLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

@(Html.Kendo().Grid(Model)
                .Name("Grid")
                .Columns(columns =>
                {

                columns.Bound(model => model.Hotel.Title);
                columns.Bound(model => model.TwoBedRoomPrice);
                columns.Bound(model => model.OneBedRoomPrice);
                columns.Bound(model => model.ChildWithBedPrice);
                columns.Bound(model => model.ChildWithoutBedPrice);
                columns.Bound(item => @item.Id).Title("دستورات").Filterable(false).Groupable(false)
                      .Template(@<text>
                        @Html.ActionLink("ویرایش", "Edit", new { id = @item.Id }, new { @class = "k-button" })
                        @Html.ActionLink("حذف", "Delete", new { id = @item.Id }, new { @class = "k-button" })
 
                    </text>).Width(200);
                })
        .ToolBar(toolbar =>
        {
            toolbar.Custom().Action("Create", "TourPackages").Text("افزودن");
        }
        )
        .DataSource(dataSource => dataSource
                                    .Server()

                                    .Model(model => model.Id(item => item.Id))
                    )
)

<a href="/tours/index/@ViewBag.tourCategoryId">بازگشت به فهرست</a>