@model ViewModels.HomeViewModel
@{
		Layout = null;
}

<!doctype html>
<html lang="en">
<head>
	<title>بکتاش سیر گشت ارائه دهنده خدمات تخصصی تور و ویزا</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="آژانس مسافرتی بکتاش سیر گشت ارائه دهنده تورهای آسیایی و اروپایی با تنوع بسیار بالا و قیمت های عالی. دریافت اطلاعات تور لحظه آخری و تور لاکچری از کارشناسان بکتاش سیر. خدمات ویزا">
	<link rel="icon" href="/Images/favicon.png">
	<link rel="apple-touch-icon" href="/images/touch-icon-iphone.png" />
	<link href="/Content/css/vendor/bootstrap.min.css" rel="stylesheet">
	<link href="/Content/css/vendor/simple-line-icons.css" rel="stylesheet">
	<link href="/Content/css/vendor/themify-icons.css" rel="stylesheet">
	<link href="/Content/css/vendor/owl.carousel.css" rel="stylesheet">
	<link href="/Content/css/vendor/animate.css" rel="stylesheet">
	<link href="/Content/css/vendor/viewbox.css" rel="stylesheet">
	<link href="/Content/css/vendor/bootstrap-slider.min.css" rel="stylesheet">
	<link href="/Content/css/vendor/bootstrap-datetimepicker.min.css" rel="stylesheet">
	<script src="/Scripts/js/vendor/fontawesome-all.min.js"></script>
	<link href="/Content/css/scss/main.css" rel="stylesheet">
	<link href="/Content/css/vendor/style-rtl.css" rel="stylesheet" />
	<link rel="canonical" href="https://www.bektashtravel.com/" />
	<meta property="og:title" content="بکتاش سیر" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://www.bektashtravel.com/" />
	<meta property="og:image" content="https://www.bektashtravel.com/images/logo.png" />
	<meta property="og:description" content="بکتاش سیر ارائه دهنده تورهای اروپایی و آسیایی با بهترین قیمت" />
	<meta property="og:site_name" content="بکتاش سیر" />
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110478869-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-110478869-1');
	</script>

	<link href="~/Content/css/style-counter.css" rel="stylesheet" />
</head>
<body>
	@Html.Partial("FrontEnd/_MenuPartial")
	<div class="search-relative">
		<div class="owl-carousel" id="fullscreen-slider">
			<div class="item height90vh" style="background-image: url(/Images/sl3.jpg);">
				<div class="page-head-wrap">
					<div class="page-head-inner">
						<div class="page-head-caption container  text-right">
							<div class="row justify-content-center">
								<div class="col-8">
									<h2 class="big-title mb-10 animate" data-animation="fadeInRight" data-timeout="800">خدمات دریافت ویزا کانادا</h2>
									<p class="animate mb-20" data-animation="fadeInLeft" data-timeout="800">جهت دریافت خدمات اخذ ویزای کانادا از متخصصین بکتاش سیر بر روی لینک زیر کلیک کنید</p>
									<a href="/productlist/canada-consult" class="btn btn-1 animate" data-animation="fadeInUp" data-timeout="900">اطلاعات بیشتر</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="item height90vh" style="background-image: url(/Images/sl1.jpg);">
				<div class="page-head-wrap">
					<div class="page-head-inner">
						<div class="page-head-caption container  text-right">
							<div class="row justify-content-center">
								<div class="col-8 left-slide">
									<h2 class="big-title mb-10 animate" data-animation="fadeInUp" data-timeout="800">مشاوره ویزای شینگن</h2>
									<p class="animate mb-20" data-animation="fadeInLeft" data-timeout="800">جهت دریافت مشاوره درباره اخذ ویزای شینگن بر روی لینک زیر کلیک کنید.</p>
									<a href="/tour/تور-استانبول" class="btn btn-1 animate" data-animation="fadeInUp" data-timeout="1200">دریافت مشاوره</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="item height90vh" style="background-image: url(/Images/sl4.jpg);">
				<div class="page-head-wrap">
					<div class="page-head-inner">
						<div class="page-head-caption container  text-right">
							<div class="row justify-content-center">
								<div class="col-8 left-slide">
									<h2 class="big-title mb-10 animate" data-animation="fadeInRight" data-timeout="800">مشاوره ویزا کانادا</h2>
									<p class="animate mb-20" data-animation="fadeInLeft" data-timeout="800">جهت دریافت مشاوره برای اخذ ویزای کانادا بر روی لینک زیر کلیک کنید</p>
									<a href="/productlist/canada-consult" class="btn btn-1 animate" data-animation="fadeInUp" data-timeout="900">اطلاعات بیشتر</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		 
			<div class="item height90vh" style="background-image: url(/Images/sl2.jpg);">
				<div class="page-head-wrap">
					<div class="page-head-inner">
						<div class="page-head-caption container  text-right">
							<div class="row justify-content-center">
								<div class="col-8 left-slide">
									<h2 class="big-title mb-10 animate" data-animation="fadeInUp" data-timeout="800">خدمات دریافت ویزای شینگن</h2>
									<p class="animate mb-20" data-animation="fadeInLeft" data-timeout="800">جهت دریافت خدمات متنوع ویزای شینگن بر روی لینک زیر کلیک کنید</p>
									<a href="/tour/تور-اروپا" class="btn btn-1 animate" data-animation="fadeInUp" data-timeout="1200">مشاهده خدمات ویزای شینگن</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


		


		</div>
	</div>

	<div class="main-block">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="text-center block width100 mb-50 block-title">
						<h2>تورهای اروپایی</h2>
						<div class="separator"><span>با انتخاب بکتاش به عنوان مشاور سفر خود، کیفیت سفرهای خود را تضمین کنید</span></div>
					</div>
				</div>
			</div>
			<div class="row">
				@foreach (var popular in Model.EuropeTours)
				{
						<div class="col-md-6 col-lg-4 trans">
							<div class="tour-item">
								<a href="/tour/@popular.Tour.TourCategory.UrlParam/@popular.Tour.Code">
									<div class="img-wrap">
										<img src="@popular.Tour.ImageUrl" alt="@popular.Tour.Title">
									</div>
								</a>
								<div class="caption">
									<a href="/tour/@popular.Tour.TourCategory.UrlParam/@popular.Tour.Code"><p class="title">@popular.Tour.Title</p></a>
									<p class="date">
										<span class="ti-calendar"></span>@string.Format("{0:dd MMM yyyy}", popular.Tour.GoneDate)
										<br />
										<span class="airline"><i class="fa fa-bookmark"></i>@popular.Tour.Price</span>
									</p>
									<p class="time btn-margin">
										<span class="ti-time"></span>@popular.Tour.Duration<br />
										<span class="airline"><i class="fa fa-plane"></i>@popular.AirLine.Title</span>
									</p>

								</div>
							</div>
						</div>
				}
			</div>
		</div>
	</div>
	<div class="main-block nopaddingtop">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="text-center block width100 mb-50 block-title">
						<h2>تور های ویژه بکتاش</h2>
						<div class="separator"><span>کیفیت سفر شما برای ما مهم است</span></div>
					</div>
				</div>
			</div>
			<div class="row">
				@foreach (var popular in Model.PopularTours)
				{
						<div class="col-md-6 col-lg-4 trans">
							<div class="tour-item">
								<a href="/tour/@popular.Tour.TourCategory.UrlParam/@popular.Tour.Code">
									<div class="img-wrap">
										<img src="@popular.Tour.ImageUrl" alt="@popular.Tour.Title">
									</div>
								</a>
								<div class="caption">
									<a href="/tour/@popular.Tour.TourCategory.UrlParam/@popular.Tour.Code"><p class="title">@popular.Tour.Title</p></a>
									<p class="date">
										<span class="ti-calendar"></span>@string.Format("{0:dd MMM yyyy}", popular.Tour.GoneDate)
										<br />
										<span class="airline"><i class="fa fa-bookmark"></i>@popular.Tour.Price</span>
									</p>
									<p class="time btn-margin">
										<span class="ti-time"></span>@popular.Tour.Duration<br />
										<span class="airline"><i class="fa fa-plane"></i>@popular.AirLine.Title</span>
									</p>

								</div>
							</div>
						</div>
				}
			</div>
		</div>
	</div>


	<div class="ctoa blend-bg text-center parallax-container color-white bektash-ctoa" style="background-image: url(/Images/bektash-member2.jpg)">
		<div class="row justify-content-center">
			<div class="col-md-8">
				<h2 class="mb-20">در رابطه با تورهای مسافرتی سوالی دارید</h2>
				<p class="mb-30">بکتاش سیر علاوه بر ارائه تورهای مسافرتی آسیایی و اروپایی و تور کانادا خدمات مربوط به اخذ ویزا و وقت سفارت را به مشتریان خود ارائه می دهد. اگر سوالی در رابطه با خدمات ما دارید شماره موبایل خود را وارد کنید تا همکاران ما با شما تماس بگیرند.</p>
			</div>
		</div>
		<div id="cta-form">
			@*<div class="form-row justify-content-center">
				<div class="col-md-2 ">
					<input type="text" class="form-control" name="email" placeholder="شماره موبایل" required>
				</div>
				<div class="col-auto ">
					<button type="submit" class="btn btn-1">ثبت</button>
				</div>
			</div>*@
		</div>
	</div>
	<div class="main-block">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="text-center block width100 mb-50 block-title">
						<h2>پرفروش تورها</h2>
						<div class="separator"><span>مقاصد زیر جز پر فروش ترین تور های بکتاش می باشد.</span></div>
					</div>
				</div>
			</div>
			<div class="row">
				@foreach (var category in Model.HomeTourCategories)
				{
						<div class="col-md-6 col-lg-4">
							<div class="category-item effect-1">
								<img src="@category.ImageUrl" alt="@category.Title">
								<div class="caption">
									<div>
										<p class="title">@category.Title</p>
										<p class="description">بکتاش</p>
									</div>
									<a href="/tour/@category.UrlParam">مشاهده تورها</a>
								</div>
							</div>
						</div>
				}
			</div>
		</div>
	</div>
	@*<div class=" ">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="row counter-section">


						<div class="col-md-2 count-item-odd">
							<p>ویزا اخذ شده اسپانیا</p>
							<div id="count-test-5"></div>
						</div>

						<div class="col-md-2 count-item">
							<p>ویزا اخذ شده ایتالیا</p>
							<div id="count-test-4"></div>
						</div>

						<div class="col-md-2 count-item-odd">
							<p>ویزا اخذ شده فرانسه</p>
							<div id="count-test-3"></div>

						</div>

						<div class="col-md-2 count-item">
							<p>ویزا اخذ شده استرالیا</p>
							<div id="count-test-2"></div>
						</div>
						<div class="col-md-2 count-item-odd">
							<p>ویزا اخذ شده شینگن</p>
							<div id="count-test-6"></div>
						</div>
						<div class="col-md-2 count-item">
							<p>ویزا اخذ شده کانادا</p>
							<div id="count-test-1"></div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>*@
	<div class="main-block">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="text-center block width100 mb-50 block-title">
						<h2>ویزا</h2>
						<div class="separator"><span>بکتاش مشاور و نماینده شما در اخذ ویزا</span></div>
					</div>
				</div>
			</div>
			<div class="row">
				@foreach (var visa in Model.VisaList)
				{
						<div class="col-md-6 col-lg-4 trans">
							<div class="blog-item effect-1">
								<a class="block" href="/visa/@visa.UrlParam">
									<img src="@visa.ImageUrl" alt="@visa.Title">
								</a>
								<div class="caption clearfix">
									<a href="/visa/@visa.UrlParam">
										<p class="title">@visa.Title</p>
									</a>

									<ul class="tags">
										@if (!string.IsNullOrEmpty(visa.Form))
										{
												<li><a target="_blank" href="@visa.Form">فرم های اطلاعاتی</a></li>

										}
										@if (!string.IsNullOrEmpty(visa.Document))
										{
												<li><a target="_blank" href="@visa.Document">مدارک مورد نیاز</a></li>

										}
									</ul>
								</div>
							</div>
						</div>
				}
			</div>
		</div>
	</div>

@*<div class="modal fade" id="myModal" role="dialog">
	<div class="modal-dialog">
    
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			
			</div>
			<div class="modal-body" style="  text-align: center;">
				<p style=" color: #cabeca;">با توجه به شیوع ویروس کرونا و کنسل شدن اکثر پروازها، با کلیک بر روی لینک زیر می توانید شرایط استرداد وجه تور خود را مشاهده نمایید</p>
				<a style="background-color: #f4a720; color: #fff; padding: 8px;" class="modal-btn" href="https://www.bektashtravel.com/blog/online-mag/return-cost-of-tour">مشاهده شرایط استرداد وجوه تورهای نوروزی</a>
		
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
			</div>
		</div>
      
	</div>
</div>*@
	@Html.Partial("FrontEnd/_FooterPartial")
	<a class="scrollup"><i class="icon-arrow-up icons"></i></a>

	<script src="/Scripts/js/vendor/jquery.min.js"></script>
	<script src="/Scripts/js/vendor/moment.min.js"></script>
	<script src="/Scripts/js/vendor/bootstrap.min.js"></script>
	<script src="/Scripts/js/vendor/bootstrap-slider.min.js"></script>
	<script src="/Scripts/js/vendor/bootstrap-datetimepicker.min.js"></script>
	<script src="/Scripts/js/vendor/owl.carousel.min.js"></script>
	<script src="/Scripts/js/vendor/navigation.min.js"></script>
	<script src="/Scripts/js/vendor/modernizr.min.js"></script>
	<script src="/Scripts/js/vendor/jqueryvalidation.min.js"></script>
	<script src="/Scripts/js/vendor/jquery.viewbox.min.js"></script>
	<script src="/Scripts/js/vendor/masonry.min.js"></script>
	<script src="/Scripts/js/vendor/imagesloaded.min.js"></script>
	<script src="/Scripts/js/vendor/jquery.waypoints.min.js"></script>
	<script src="/Scripts/js/vendor/jquery.sticky-kit.min.js"></script>
	<script src="/Scripts/js/main.min.js"></script>
	<script src="~/Scripts/CustomFunction.min.js"></script>

	<script src="~/Scripts/jQuerySimpleCounter.js"></script>

	<script type="text/javascript">

		$('#count-test-1').jQuerySimpleCounter({
			end: 967
		});
		$('#count-test-2').jQuerySimpleCounter({
			end: 58
		});
		$('#count-test-3').jQuerySimpleCounter({
			end: 175
		});
		$('#count-test-4').jQuerySimpleCounter({
			end: 196
		});
		$('#count-test-5').jQuerySimpleCounter({
			end: 288
		});
		$('#count-test-6').jQuerySimpleCounter({
			end: 659
		});
	</script>
	@*<script type="text/javascript">
		$(window).on('load', function () {
			$('#myModal').modal('show');
		});
	</script>*@
	<script src="~/Scripts/js/custom.min.js"></script>
	
	<script>
		window.onscroll = function () { myFunction() };
		var header = document.getElementById("myHeader");
		var sticky = header.offsetTop;
		function myFunction() {
			if (window.pageYOffset > sticky) {
				header.classList.add("sticky");
			} else {
				header.classList.remove("sticky");
			}
		}
	</script>
</body>
</html>
