@model ViewModels.TourListViewModel
@{
		ViewBag.Title = "لیست تورهای بکتاش سیر گشت";
		Layout = "~/Views/Shared/FrontEnd/_FronEndLayout.cshtml";
}
<div class="page-head white-content">
	<div class="height50vh parallax-container" style="background-image: url('/Images/header1.jpg');">
		<div class="page-head-wrap">
			<div class="display-r">
				<div class="display-a">
					<div class="container">
						<div class="row justify-content-center animate" data-animation="fadeInUp" data-timeout="500">
							<div class="col-md-12">
								<h1 class="big-title mt-60">لیست تورهای بکتاش سیر گشت</h1>
								<p class="tour-summery">بکتاش سیر گشت ارائه دهنده پکیج های متنوع تورهای آسیایی، اروپایی و تور کانادا</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="content mt-60 mb-40 container">
	<div class="row">
		<div class="col-md-9">
			<div class="row plp">
				@foreach (var tour in Model.Tours)
				{
						<div class="col-md-6 col-lg-4">
							<div class="tour-item">
								<a href="/tour/@tour.TourCategory.UrlParam/@tour.Code">
									<div class="img-wrap">
										<img src="@tour.ImageUrl" alt="@tour.Title" />

										<p class="price">@tour.Price</p>
										@if (tour.IsSoldOut)
										{
											<p class="price soldout">ظرفیت تکمیل</p>
										}
									</div>
								</a>
								<div class="caption">
									<a href="/tour/@tour.TourCategory.UrlParam/@tour.Code">
										<p class="title">@tour.Title</p>
									</a>
									<p class="date">
										<span class="ti-calendar"></span>از تاریخ @string.Format("{0:dd MMM}", tour.GoneDate)<br />
										<span class="ti-calendar"></span>تا تاریخ @string.Format("{0:dd MMM}", tour.ReturnDate)
									</p>
									<p class="time">
										<span class="ti-time"></span>@tour.Duration<br />
										<span class="airline"><i class="fa fa-plane"></i>@tour.Airline.Title</span>
									</p>
								</div>
							</div>
						</div>
				}
			</div>
	</div>

<div class="col-md-3">
	<div class="sidebar-bektash">
		<div class="sidebar-header">
			خدمات ویزا
		</div>
		<div class="sidebar-body">
			<ul>
				@foreach (var visa in Model.SidebarVisaList)
				{
						<li><a href="/visa/@visa.UrlParam">@visa.Title</a></li>

				}
			</ul>
		</div>
	</div>

	<div class="sidebar-bektash">
		<div class="sidebar-header">
			تورهای بکتاش
		</div>
		<div class="sidebar-body">
			<ul>
				@foreach (var tourCategory in Model.SidebarTourCategories)
				{
						<li><a href="/tour/@tourCategory.UrlParam">@tourCategory.Title</a></li>

				}
			</ul>
		</div>
	</div>
</div>
    </div>

</div>